.banner {
  position: relative;

  &-h {
    height: calc(100vh - 64px - 83px);
  }

  &-hh {
    height: 710px;
  }

  & img {
    z-index: -1;
  }

  & h2 {
    padding-top: 50px;
    font-size: 44px;
    line-height: 51px;
    margin-bottom: 15px;
  }

  & p {
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  &__box {
    & button {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.bold {
  font-weight: 700;
}

// Bootstrap queries
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap


@media (max-width: 575px) {
  .banner-h {
    padding: 50px 10px;
    height: auto;
  }
  .banner-hh {
    padding: 50px 10px;
    height: auto;
  }
  .banner img {
    object-fit: none;
  }
  .banner h2 {
    font-size: 30px;
    line-height: 32px;

    & p,
    & h2 {
      max-width: 100%;
    }
  }

}

@media (max-width: 494px) {
  .banner__box button {
    margin-right: 0;
  }
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {
  .banner img {
    object-fit: cover;
  }
}
