.copy {
  padding: 21px 10px 27px;

  & h5 {
    font-size: 13px;
    line-height: 19px;

    & span {
      color: red;
    }
  }

  & ul {
    display: flex;

    & li {
      margin-right: 6px;

      &:last-child {
        margin-right: 0;
      }
    }

    & a {
      display: block;
      width: 30px;
      height: 22px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .copy__box {
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .copy__box ul {
    flex-wrap: wrap;
  }
}
