@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    src: local("Roboto"), url("../fonts/roboto-regular.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto Bold";
    font-style: normal;
    font-weight: bold;
    src: local("Roboto"), url("../fonts/roboto-bold.woff2") format("woff2");
}