.preview__cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  height: 580px;
  transition: all .3s ease;
  overflow: hidden;

  &:last-child {
    margin: 0;
  }

  &-size {
    max-width: 580px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  &:hover,
  &:active,
  &:focus {
    transform: scaleX(1.05);
  }

  & div {
    margin: 0 auto;
    vertical-align: center;
    align-items: center;
    justify-content: center;
  }

  & h4 {
    font-size: 32px;
    line-height: 36px;
  }

  & p {
    font-size: 15px;
    line-height: 19px;
  }
}

.preview__image {
  z-index: -1;
}

.preview__icon {
  width: 30px;
  height: 47px;
  background-image: url('../images/vector.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 575px) {
  .preview__cart {
    height: 250px;
  }
}

@media (max-width: 1200px) {
  .preview__cart-size {
    margin-right: 0;
  }
}
