.preview {
  padding-bottom: 20px;
  text-align: center;

  &__box {
    justify-content: center;
  }

  &__text {
    padding-top: 52px;
    padding-bottom: 72px;
    max-width: 685px;
    margin: 0 auto;
  }

  & h1 {
    margin-bottom: 17px;
  }

  &__desc {
    position: relative;
    font-size: 15px;
    line-height: 19px;

    &::after {
      position: absolute;
      bottom: -25px;
      left: calc(50% - 35px);
      content: '';
      width: 70px;
      height: 2px;
      background: #CFCFCF;
    }
  }
}
